{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock extra_head %}

{% block content %}
<div class="container">
    <div class="shrnk-box">
        <form action="#" class="shrnk-form">
            <div class="input-box">
                <input type="text" class="input">
            </div>
            <div class="shrnk-btn-box">
                <a href="" class="shrnk-btn">SHRNK</a>
            </div>
        </form>
    </div>
</div>

<div class="container">
    <div class="output-link">
        <div class="op--link">
            <a href="https://ushrnk.herokuapp.com/abcd" class="link" target="_blank">https://ushrnk.herokuapp.com/abcd</a>
        </div>
        <div class="copy-btn" onclick="copyToClipboard('.link')">
            <span class="material-icons">
                content_copy
            </span>
        </div>
    </div>
</div>

<script>
    function copyToClipboard(element) {
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val($(element).text()).select();
        document.execCommand("copy");
        $temp.remove();
    }



</script>
{% endblock content %}