{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock extra_head %}

{% block content %}
<div class="container">
    <div class="shrnk-box">
        <form action="#" class="shrnk-form">
            <div class="input-box">
                <input type="text" class="input">
            </div>
            <div class="shrnk-btn-box">
                <a href="" class="shrnk-btn">SHRNK</a>
            </div>
        </form>
    </div>
</div>
{% endblock content %}