{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock extra_head %}

{% block content %}
<div class="container">
    <div class="shrnk-box">
        <form action="#" method="POST" class="shrnk-form">
            {% csrf_token %}
            <div class="input-box">
                <label for="x-code" class="shrnk-label">Enter URL to shrink</label>
                {{form.og_url}}
            </div>
            <div class="shrnk-btn-box">
                <input  class="shrnk-btn" type="submit" value="SHRNK"/>
            </div>
        </form>
    </div>
</div>
{% if slug %}
<div class="main">
    <div class="container">
        <div class="output-link">
            <div class="op--link">
                <a href="{{slug.get_shrnk_url}}" class="link" target="_blank">{{slug.get_shrnk_url}}</a>
            </div>
            <div class="copy-btn" onclick="copyToClipboard('.link')">
                <span class="material-icons">
                    content_copy
                </span>
            </div>
        </div>
        <div class="output-link">
            <div>
                <p>Remember this code to use and see the number of clicks each day in metrics section:</p>
            </div>
            <div class="op--xcode">
                <p>{{slug.xcode}}</p>
            </div>
        </div>
    </div>
</div>
{% endif %}
<script>
    function copyToClipboard(element) {
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val($(element).text()).select();
        document.execCommand("copy");
        $temp.remove();
    }



</script>
{% endblock content %}