{% extends "base.html" %}
{% load static %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
{% endblock extra_head %}

{% block content %}
<div class="container">
  <div class="shrnk-box">
    <div class="shrnk-form">
      <div class="input-box">
        <label for="x-code" class="label">Enter X-CODE to get metrics</label>
        <input type="text" id="x-code" class="input">
      </div>
      <div class="shrnk-btn-box">
        <button class="shrnk-btn">SUBMIT</button>
      </div>
    </div>
  </div>
    <div class="chart" id="chart-box" style="width: 100%;">
        <canvas id="chart"></canvas>
    </div>
</div>
<script>
    $('#x-code').change(function () {

      var $clickChart = $("#chart");
      let xCode = document.getElementById('x-code').value 
      let url = "https://ushrnk.herokuapp.com/api/clicks/"+xCode
      $.ajax({
        url: url,
        success: function (data) {
          console.log(data)
          var ctx = $clickChart[0].getContext("2d");

          new Chart(ctx, {
            type: 'bar',
            data: {
              labels: data.labels,
              datasets: [{
                label: 'Clicks',
                backgroundColor: 'rgb(255,192,203,0.4)',
                borderColor:'pink',
                borderWidth:2,
                hoverBackgroundColor:'Pink',
                data: data.data
              }]          
            },
            options: {
                responsive: true,
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Clicks Bar Chart'
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
          });

        }
      });

    });
</script>
{% endblock content %}

