.container {
    margin: 2em auto;
    max-width:900px ;
}

.shrnk-box {
    padding:3em;
    
}

.input-box {
    text-align-last: center;

   
}
.input{
    width:100%;
    padding: 0.5rem 0.75rem; 
    line-height: 28px; 
    border:0;
    border-bottom: 2px solid purple;
}

.shrnk-btn-box{
    text-align-last: center;
    margin: 1em;
}

.shrnk-btn {
    padding: 0.75em;
    background-color: darkmagenta;
    border-radius: 2px;
    box-shadow: 2px 2px pink;
    color: white;
}

.output-link {
    padding: 1em;
    text-align: center;
    background-color: pink;
}

.link {
    text-align: center;
}

.copy-btn {
    cursor:pointer ;
    width: 25%;
    margin: 0.5em auto;
}
.op--link {
    margin-bottom: 1em;
}


@media screen and (min-width:600px) {
    .shrnk-form {
        display:flex;
        justify-content:space-between ;
    }

    .input-box {
        width: 90%;
        margin: auto;
    }
    .output-link {
        display: flex;
        justify-content: space-around;
    }
    .op--link {
        margin: auto;
    }
    .copy-btn {
        margin: 0;
    }
}